@font-face {
    font-family: 'gamepaused';
    src: url('../fonts/GamepauseddemoRegular-RpmY6.otf') format(opentype);
}

h1, h2 {
    font-family: 'gamepaused';
    text-align: center;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
}

.bg-image {
    /*width: 100vw;*/
    height: 100vh;
    /*z-index: -2;*/

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.circular-frame {
    border-radius: 50%;
    overflow: hidden;
}

.title {
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.start-button {
    font-family: 'gamepaused';
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.start-button button {
    width: 100%;
    border: 3px solid orange;
    /*background-color: orange;*/
    border-radius: 30px;
}

.sidenav {
    display: none; /** while debugging*/
    position: fixed;
    top: 50vh;
    right: 1rem;
    font-size: 1.2rem;
    z-index: 1000;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a img {
    width: 3rem;
    height: 3rem;
}

.navbar a:hover {
    background-color: #dddd;
    color: black;
}

.expanded-nav {
    display: none;
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    list-style: none;
}

.question {
    display: flex;
    flex-direction: column;
    color: white;
}

.question .answer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.question .answer input {
    margin-left: 0.5rem;
}

#spacer0 {
    width: 10%;
}

input[type=submit] {
    background-color: orange;
}

#vis0, #vis1, #vis2, #vis3 {
    width: 40vw;
    height: 50vh;
}

#vis0 {
    display: none;
}

.vis {
    color: white;
}

.response {
    display: none;
    font-size: 24px;
    text-align: center;
    font-family: 'gamepaused';
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
}

.player-label {
    font-family: 'gamepaused';
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
}

.about-parent {
    width: 90%;
    height: 60%;
    border-radius: 5%;
    background-color: #680068;
}

.about h3 {
    text-align: center;
}

h2.about {
    font-size: 8rem;
}

/* Images used */
.retro-tv { background-image: url("../images/retro-tv.png"); filter: grayscale(25%); }
.retro-game-grid { background-image: url("../images/retro-game-grid.jpg"); background-attachment: fixed; }